.bg-aqua {
    background-color: #130f40;
}

.lr {
    background-color: #130f40;
    text-align: end;
}

.img-icon {
    display: block;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    background-color: #130f40;
    text-align: start;
}

.menu ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.menu ul li {
    width: 120px;
    margin: 10px;
    padding: 15px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
}

.active,
.menu ul li:hover {
    background-color: #211b64;
    border-radius: 3px;
}

.menu .fa {
    margin: 4px;
}

.sub-menu-1 {
    display: none;
}

.menu ul li:hover .sub-menu-1 {
    position: absolute;
    display: block;
    background-color: #130f40;
    margin-top: 15px;
    margin-left: -15px;
}

.menu ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}

.menu ul li:hover .sub-menu-1 ul li a:hover {
    color: #38ced3;
}

.fa-angle-double-right {
    float: right;
}